<h2 style="padding:120px 60px 80px 60px; color:#2a2a2a; ">"<%= @aphorism %>"</h2>
<h2 style="text-align:right; padding:0 200px; color:#2a2a2a"> - <%= @author.first_name %> <%= @author.last_name %></h2>
