

<p style="width: 800px; margin: 100px auto 0; font-family: 'Open Sans'; color:grey;">Happy <%= Date::DAYNAMES[Time.now.utc.wday] %></p>
<div style="width: 800px; margin: 10px auto; box-shadow: 2px 2px 6px  grey"><%= image_tag(@image_url) %></div>
